name: CI

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and start Docker containers
        run: docker compose up -d --build

      - name: Install Composer dependencies
        run: docker exec laravel_app composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Generate application key
        run: docker exec laravel_app php artisan key:generate

      - name: Run tests with coverage
        run: docker exec laravel_app php artisan test --coverage --min=0

      - name: Shutdown Docker containers
        if: always()
        run: docker compose down
